head, body{
    background-color: rgb(183, 207, 253) !important;
}
  
.active {
    cursor: default;
}
  
.custom-container{
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3 {
    border: 1px solid #000000;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-more-info {
    margin-top: auto;
  }
  
img{
    display:flex;
    width: 1000px;
    height: 200px;
    max-width:70%;
    max-height:70%;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    justify-content:center;
}
  
p{
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-size: 16;
    text-align: justify;
    line-height: 2em;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    max-height:50%;
    vertical-align: bottom;
}

.btn-primary{
    border-radius: 8px !important;
    background-color: steelblue !important;
    color: aliceblue !important;
    border: none !important;
    font-size: 16px !important;
    padding: 20px !important;
    text-align: center !important;
    display: inline-block !important;
}

.btn-primary:hover, .btn-secondary:hover{
    background-color:#1972bb !important;
    cursor: pointer !important;
}

.btn-secondary{
    border-radius: 8px !important;
    background-color: steelblue !important;
    color: aliceblue !important;
    border: none !important;
    text-align: center !important;
    display: inline-block !important;
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1 !important;
}


#map { 
    position: absolute;
    width: 100%; 
}


iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
}
